.signin_signup .form_area::-webkit-scrollbar{
    width: 11px;
    scrollbar-width: thin;
    scrollbar-color: #FFFFFF #808080;
}
.signin_signup .form_area::-webkit-scrollbar-track{
    background-color: #FFFFFF;
}
.signin_signup .form_area::-webkit-scrollbar-thumb{
    background-color: #808080;
    border-radius: 6px;
    border: 3px solid #FFFFFF;
}
.layout{
    max-width: 400px;
    width: 100%;
    justify-content: center;
    border: none;
    padding: 5px;
}
.layout .nav-item{
    max-width: 130px;
    width: 100%;
    text-align: center;
}
.layout .nav-item .nav-link{
    color: #808080;
    font-weight: 500;
    border: none;
}
.layout .nav-item .nav-link.active{
    font-weight: 600;
    background-color: #FFFFFF;
    color: #000000;
    border: none;
}
.nav-tabs .nav-link:focus, .nav-tabs .nav-link:hover{
    border: none;
}
.tab-content{
    max-width: 400px;
    width: 100%;
}
.signin_signup .form_area{
    padding: 20px 0;
    height: 100%;
    overflow-y: auto;
}