<section class="bg-light">
    <div class="container">
        <div class="d-flex flex-wrap flex-row mw-100 w-100 vh-100">
            <div class="p-2 mw-100 w-50 bg-white">
                <div class="d-flex flex-column mw-100 w-100 h-100 align-items-center justify-content-center">
                    <h4 class="logo">{{ title }}</h4>
                    <h3>{{ welcome }}</h3>
                    <p>{{ welcome_paragraph }}</p>
                    <ul ngbNav #nav="ngbNav" class="layout nav-tabs bg-light rounded-3">
                        <li ngbNavItem>
                            <a ngbNavLink>Sign In</a>
                            <ng-template ngbNavContent>
                                <form [formGroup]="signinForm" class="mt-2">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">
                                            <i class="bi bi-envelope"></i>
                                        </span>
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="floatingInput"
                                                placeholder="name@exmaple.com">
                                            <label for="floatingInput">Email address</label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">
                                            <i class="bi bi-lock"></i>
                                        </span>
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="floatingPassword"
                                                placeholder="Password">
                                            <label for="floatingPassword">Password</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary w-100 p-3 rounded-4">Continue</button>
                                </form>
                            </ng-template>
                        </li>
                        <li ngbNavItem>
                            <a ngbNavLink>Signup</a>
                            <ng-template ngbNavContent>
                                <form [formGroup]="signinForm" class="mt-2">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">
                                            <i class="bi bi-person"></i>
                                        </span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingInput"
                                                placeholder="John">
                                            <label for="floatingInput">First name</label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">
                                            <i class="bi bi-person"></i>
                                        </span>
                                        <div class="form-floating">
                                            <input type="text" class="form-control" id="floatingInput"
                                                placeholder="Cena">
                                            <label for="floatingInput">Last name</label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">
                                            <i class="bi bi-person-vcard"></i>
                                        </span>
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="floatingInput"
                                                placeholder="User ID">
                                            <label for="floatingInput">User ID</label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">
                                            <i class="bi bi-telephone"></i>
                                        </span>
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="floatingInput"
                                                placeholder="9876543210">
                                            <label for="floatingInput">Phone number</label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">
                                            <i class="bi bi-lock"></i>
                                        </span>
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="floatingPassword"
                                                placeholder="name@exmaple.com">
                                            <label for="floatingPassword">Create password</label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">
                                            <i class="bi bi-lock"></i>
                                        </span>
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="floatingPassword"
                                                placeholder="Password">
                                            <label for="floatingPassword">Confirm Password</label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">
                                            <i class="bi bi-key"></i>
                                        </span>
                                        <div class="form-floating">
                                            <input type="number" class="form-control" id="floatingInput"
                                                placeholder="name@exmaple.com">
                                            <label for="floatingInput">OTP</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary w-100 p-3 rounded-4">Continue</button>
                                </form>
                            </ng-template>
                        </li>
                        <li ngbNavItem>
                            <a ngbNavLink>Admin Login</a>
                            <ng-template ngbNavContent>
                                <form [formGroup]="signinForm" class="mt-2">
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">
                                            <i class="bi bi-envelope"></i>
                                        </span>
                                        <div class="form-floating">
                                            <input type="email" class="form-control" id="floatingInput"
                                                placeholder="name@exmaple.com">
                                            <label for="floatingInput">Email address</label>
                                        </div>
                                    </div>
                                    <div class="input-group mb-3">
                                        <span class="input-group-text">
                                            <i class="bi bi-lock"></i>
                                        </span>
                                        <div class="form-floating">
                                            <input type="password" class="form-control" id="floatingPassword"
                                                placeholder="Password">
                                            <label for="floatingPassword">Password</label>
                                        </div>
                                    </div>
                                    <button type="submit" class="btn btn-primary w-100 p-3 rounded-4">Continue</button>
                                </form>
                            </ng-template>
                        </li>
                    </ul>
                    <div [ngbNavOutlet]="nav" class="mt-2"></div>
                </div>
            </div>
            <div class="p-2 mw-100 w-50">
                <img src="../../assets/images/loginScreenImage.jpg" alt="loginScreen" class="w-100 h-100">
            </div>
        </div>
    </div>
</section>